@use 'node_modules/photon-colors/photon-colors.css';

$magenta-50: var(--magenta-50);
$magenta-60: var(--magenta-60);
$magenta-70: var(--magenta-70);
$magenta-80: var(--magenta-80);
$magenta-90: var(--magenta-90);
$purple-30: var(--purple-30);
$purple-40: var(--purple-40);
$purple-50: var(--purple-50);
$purple-60: var(--purple-60);
$purple-70: var(--purple-70);
$purple-80: var(--purple-80);
$purple-90: var(--purple-90);
$blue-40: var(--blue-40);
$blue-50: var(--blue-50);
$blue-50-a30: var(--blue-50-a30);
$blue-60: var(--blue-60);
$blue-70: var(--blue-70);
$blue-80: var(--blue-80);
$blue-90: var(--blue-90);
$teal-50: var(--teal-50);
$teal-60: var(--teal-60);
$teal-70: var(--teal-70);
$teal-80: var(--teal-80);
$teal-90: var(--teal-90);
$green-50: var(--green-50);
$green-60: var(--green-60);
$green-70: var(--green-70);
$green-80: var(--green-80);
$green-90: var(--green-90);
$yellow-50: var(--yellow-50);
$yellow-60: var(--yellow-60);
$yellow-60-a30: var(--yellow-60-a30);
$yellow-70: var(--yellow-70);
$yellow-80: var(--yellow-80);
$yellow-90: var(--yellow-90);
$red-50: var(--red-50);
$red-60: var(--red-60);
$red-60-a30: var(--red-60-a30);
$red-70: var(--red-70);
$red-80: var(--red-80);
$red-90: var(--red-90);
$orange-50: var(--orange-50);
$orange-60: var(--orange-60);
$orange-70: var(--orange-70);
$orange-80: var(--orange-80);
$orange-90: var(--orange-90);
$grey-10: var(--grey-10);
$grey-10-a10: var(--grey-10-a10);
$grey-10-a20: var(--grey-10-a20);
$grey-10-a40: var(--grey-10-a40);
$grey-10-a60: var(--grey-10-a60);
$grey-10-a80: var(--grey-10-a80);
$grey-20: var(--grey-20);
$grey-30: var(--grey-30);
$grey-40: var(--grey-40);
$grey-50: var(--grey-50);
$grey-60: var(--grey-60);
$grey-70: var(--grey-70);
$grey-80: var(--grey-80);
$grey-90: var(--grey-90);
$grey-90-a05: var(--grey-90-a05);
$grey-90-a10: var(--grey-90-a10);
$grey-90-a20: var(--grey-90-a20);
$grey-90-a30: var(--grey-90-a30);
$grey-90-a40: var(--grey-90-a40);
$grey-90-a50: var(--grey-90-a50);
$grey-90-a60: var(--grey-90-a60);
$grey-90-a70: var(--grey-90-a70);
$grey-90-a80: var(--grey-90-a80);
$grey-90-a90: var(--grey-90-a90);
$ink-40: var(--ink-40);
$ink-50: var(--ink-50);
$ink-60: var(--ink-60);
$ink-70: var(--ink-70);
$ink-80: var(--ink-80);
$ink-90: var(--ink-90);
$white-100: var(--white-100);
